*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: hsla(258, 60%, 43%, 1);

  background: linear-gradient(90deg, hsla(258, 60%, 43%, 1) 0%, hsla(276, 72%, 44%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(258, 60%, 43%, 1) 0%, hsla(276, 72%, 44%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(258, 60%, 43%, 1) 0%, hsla(276, 72%, 44%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#532CAF", endColorstr="#811FC2", GradientType=1 );
}
.container{
    width: 900px;
    height: auto;
    margin: 80px auto;
    background-color: azure;
    padding: 30px 30px;
    text-align: center;
}
.backHome{
  text-align: left;
}
