<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" href="../css_img/css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../css_img/image/favicon.ico">
    <title>Groupie-Tracker</title>
</head>
<body>
    <div class="title"><h1>Groupie-Tracker</h1></div>
    <div class="searchbar">
        <form action="/search" autocomplete="off" method="get" class="searchBar">
            <i class="fas fa-search"></i>
            <input class="sb" list="search" id="Search" name="Search" placeholder="Search..."/>
            <button type="submit">Search</button>
    
            <datalist id="search">
            {{range .Everyone}}
                <option value="{{.Name}}"></option>
            {{end}}
            {{range .Everyone}}
                {{range .Members}}
                    <option value="{{.}}"></option>
                {{end}}
            {{end}}
            {{range .Location.Ind}}
                {{range .Locations}}
                    <option value="{{.}}"></option>
                {{end}}
            {{end}}
            {{range .Everyone}}
                <option value="{{.FirstAlbum}}"></option>
            {{end}}
            {{range .Everyone}}
                <option value="{{.CreationDate}}"></option>
            {{end}}
       
            </datalist>
        </form>

    </div>
</form>
    <div class="container">
        <div class="wrapper wrap">
        {{range .Everyone}}
           <div class="card">
            <a href="/artists/?id={{.ID}}">
                <div class="front">
                    <img src="{{.Image}}" alt="">
                </div>
                <div class="back">
                    <div class="text">{{.Name}}</div>
                </div>
            </a>
            </div>
        {{end}}
        </div>
    </div>
</body>
</html>